<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About | mbshull Sample Twitter Clone</title>
</head>
<body>

  <h1>About Page</h1>
  <p>This is the about page for <a href="http://www.mbshull.com" target="_blank">my</a> sample app</p>

</body>
</html>
