<% provide :title, "Contact"%>

<h1>Contact Me</h1>

<div class="contact_list">  
  <ul>
    <li><a href="mailto:dev.shullmb@gmail.com" target="">Email</a></li>
    <li><a href="https://twitter.com/mbshull"  target="_blank">@mbshull</a></li>
    <li><a href="https://github.com/shullmb"   target="_blank">github</a></li>
  </ul>
</div>
